body {
    background-color: rgb(224, 231, 235);
}

.img-fluid {
    border-radius: 50%;
    width: 5rem;
    cursor: pointer;
}

.img-fluid:hover {
    transform: scale(1.2);
    transition-duration: 1s;
}

.aslanBil {
    font-family: 'Rowdies', cursive;
    margin-left: 1rem;
}

.navbar {
    background-image: linear-gradient(13deg, #97ABFF 5%, #061e5f 100%);
}

.nav-link {
    color: black;
    font-size: 1.2rem;
}

.picture {
    height: 60vh !important;
    border-radius: 1rem;
}

.carousel-indicators button {
    width: 2rem !important;
    height: 0.5rem !important;
    background-color: #a5c3f0 !important;
}

.card-img-top {
    height: 13rem;
    width: 10rem;
    border: 1px solid #061e5f;


}

.staff {
    color: #061e5f;
}

.card:hover {
    transform: scaleY(1.07);
    transition: 0.7s;
    cursor: pointer;
}